@use '../main.scss';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Assistant:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Pattaya&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
    
    $primaryFontHE: "Open Sans", sans-serif;
    $secondaryFontHE: "Assistant", sans-serif;
    $thirdFontHE: "Amatic SC", cursive;

    $primaryFontEN: "Poppins", sans-serif;
    $secondaryFontEN: "Pattaya", sans-serif;

    $color-purple: #9453A6;
    $color-green: #8CBF3F;
    $color-yellow: #F2CC0F;
    $color-black: #0D0D0D;
    $color-white: #F2F2F2;

    $border: 1px solid red;


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body{
    width: 100%;
    min-height: 100vh;
    direction: rtl;
}


// Gallery

#carouselExampleIndicators{
    margin-bottom: 5rem;
}

.title{
    margin-top: 2rem;
}

#ul-footer{
    padding-left: 0rem !important;
}

.col-lg-4.mb-4{
    margin-bottom: 0 !important;
}

@media only screen and(min-width: 1280px) and(max-width: 1920px) {
    .logo a img{
        width: 8%;
        z-index: 10;
    }
}

@media only screen and(min-width: 992px) and(max-width: 1920px){
    .col-lg-4.mb-4.mb-lg-0{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 0;
        margin: 0 auto;
        place-items: center;
    }

    .title{
        text-align: center;
        margin: 2rem auto 3rem auto;
    }
}

@media only screen and(min-width: 820px) {
    .main{
        width: 75%;
    }

    .col-lg-4.mb-4.mb-lg-0{
        width: 80%;
        padding: 0;
        margin: 0 auto;
        place-items: center;
    }

    .col-lg-4.mb-4{
        margin-bottom: 0 !important;
    }
}

